<!DOCTYPE html>
<html>
<head>
    <title>目录列表</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <script src="{% static 'js/jquery-3.5.1.slim.min.js' %}"></script>
    <script src="{% static 'js/popper.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <style>
        body {
            padding: 20px;
        }
    </style>
</head>
<body>
    <div class="container">
        <h1 class="my-4">目录列表</h1>
        {% if directories %}
            <ul class="list-group">
                {% for directory in directories %}
                    <li class="list-group-item">
                        <a href="{% url 'file_list' directory.id %}">{{ directory.name }}</a>
                    </li>
                {% endfor %}
            </ul>
        {% else %}
            <p>No directories found.</p>
        {% endif %}
    </div>

</body>
</html>